.place__website {
    max-width: 456px;
    
    margin: 0;
    align-self: end;
}

@media screen and (max-width: 425px) {
    .place__website {
        max-width: 393px;
        margin: 0 16px 0;
    }    
}

@media screen and (max-width: 320px) {
    .place__website {
        max-width: 288px;
    }    
}