.places {
    max-width: 984px;
	margin: 92px auto;

    display: grid;
    gap: 80px;
}

@media screen and (max-width: 1024px) {
	.places {
		max-width: calc(100% - 96px);
	}
}

@media screen and (max-width: 768px) {
    .places {
		max-width: calc(100% - 48px);
        margin: 88px 24px 90px;
    }
}

@media screen and (max-width: 670px) {
    .places {
		max-width: 670px;
        margin: 76px 0 78px;
    }
}

@media screen and (max-width: 425px) {
    .places {
		max-width: 425px;
        margin: 64px 0 66px;
        gap: 50px;
    }
}
