.intro__list {
    width: 690px;
    height: 90px;
    margin: 0 442px 0 148px;
    padding-left: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    list-style: none;
}