.place__card-s {
    max-height: 584px;
}

@media screen and (max-width: 1024px) {
    .place__card-s {
        max-height: 564px;
    }
}

@media screen and (max-width: 425px) {
    .place__card-s {
        max-height: 1017px;
    }
}

@media screen and (max-width: 320px) {
    .place__card-s {
        max-height: 1016px;
    }
}