.cover__subtitle {
    max-width: 360px;
    margin: 0 auto 245px;

    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        margin: 0 auto 195px;
   }
}
  
@media screen and (max-width: 768px) {
    .cover__subtitle {
        margin: 0 auto 115px;
    }
}
  
@media screen and (max-width: 425px) {
    .cover__subtitle {
        max-width: 273px;
        margin: 0 auto 73px;
        font-size: 14px;
        line-height: 16px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        margin: 0 auto 33px;
    }
}