.place__title {
    max-width: 460px;
    max-height: 152px;

    margin: 0;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    color: #fff;
}

@media screen and (max-width: 1024px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (max-width: 768px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 425px) {
    .place__title {
        max-width: 393px;
        font-size: 37px;
        line-height: 35px;
        margin: 0 16px 0;
    }
}

@media screen and (max-width: 320px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
    }
}