.place__paragraph {
  margin: 0 auto 26px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  color: #fff;
}

.place__paragraph:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place__paragraph {
      margin-bottom: 27px;
  }  
}

@media screen and (max-width: 928px) {
  .place__paragraph {
      font-size: 15px; 
      line-height: 150%;
  }  
}

@media screen and (max-width: 832px) {
  .place__paragraph {
      font-size: 14px; 
      line-height: 145%;
  }  
}

@media screen and (max-width: 768px) {
  .place__paragraph {
      margin-bottom: 25px;
      font-size: 16px; 
  }  
}
